@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body{
    font-family: 'poppins';
    position: relative;
    height: 100vh;
    background-color: #fff;
    font-size: 14px;
    color: #000;
}

.hero{
    height: 100%;
}

.hero-content{
    color: #ddd;
    text-align: center;
    position: absolute;
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 400px;
    max-width: 60%; 
    width: 100%; 
}
.hero-content p{
    line-height: 33px;
    font-size: 1.5rem;
  
}
.hero-content h1{
    font-size: 3rem;
    font-weight: 300;
}
.hero-content h1 span{
    font-weight: 800;
}
.hero-content .hero-btn{
    display: flex;
    gap: 20px;
}
.hero-content button{
    width: 250px;
    height: 60px;
    color: #000000;
    font-weight: 100;
    font-size: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.hero-content button:hover{
    background-color: #000;
    color: #ffffff;
}


@media (max-width: 850px){
    .hero h1{
        font-size: 2rem;
        
    }
    .hero p{
        font-size: 1.3rem;
    }
    
    .hero-btn button{
        width: 130px;
        height: 50px;
        font-size: 24px;
    }
    
}

@media (max-width: 850px){
    .hero-content{
        padding: 0 20px;
    }
}